/* common styles */
* {
    font-family: 'EB Garamond', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

section {
    margin-top: 100px;
}

/* Header styles */
.header {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1250px;
}

.header-sub-title {
    padding-top: 150px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.header-title {
    /* padding-top: 5%; */
    padding-bottom: 150px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* offer section styles */
.offer {
    background: #FFF;
}

.offer-title {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.offer-description {
    margin-top: 40px;
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.offer-sub-title {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.offer-img {
    width: 70%;
    margin-left: 200px;
    margin-right: 300px;
}

/* welcome section styles */
.welcome {
    border-radius: 5px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Group\ 70.png') no-repeat right center, url('../images/Vectorrr.png');


}

.welcome-title {
    padding-top: 50px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    padding: 125px 450px 25px 125px;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    padding: 0 450px 25px 125px;
}

.welcome-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    margin-left: 125px;
    margin-bottom: 100px;
    background-color: black;
}

/* place section styles */
.place {
    /* background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
    /* background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
    background-color: rgba(245, 163, 163, 0.785);
    text-align: center;
    padding-top: 50px;
}

.place p {
    font-size: 32px;
    font-weight: 600;
}

.place-btn {
    border: 0;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.location-color {
    color: #F00;
}

/* advertisement section styles */
.advertisement {
    display: flex;
    gap: 100px;
    background: #FFF;
}

.new-offer {}

.new-offer-sub-title {
    color: #F00;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 500;
}

.new-offer-title {
    color: #070211;
    /* text-align: center; */
    font-size: 48px;
    font-weight: 900;
}

.new-offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.adv-img {
    width: 50%;
    border: 10px solid red;
    border-radius: 50%;
    padding: 15px;
}

.adv-year {}

.adv-year-one {}

.year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.year-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.adv-year-two img {
    width: 50%;
}

/* holiday section styles */
.holiday {}

.holiday-sub-title {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.holiday-title {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.holiday-color {
    color: #F00;
}

.holiday-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.show-off {
    position: relative;
}

.holiday-showoff {
    display: flex;
    gap: 50px;
    margin-right: 200px;
}

.showoff-both {
    position: relative;
}


.showoff-two {
    position: absolute;
    left: -200px;
    top: 50px;
}

.holiday-rec {
    position: absolute;
    top: 420px;
}

/* portfolio section styles */
.portfolio {}